div {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.done-item {
    display: flex;
    align-items: center;
    border: 1px solid;
    padding-left: 10px;
    margin: 5px;
    height: 25px;
    width: 310px;
}