.todo-group {
    display: 'flex';
    justify-content: space-between;
}

.todo-item {
    display: flex;
    align-items: center;
    border: 1px solid;
    margin: 5px;
    height: 25px;
}

.todo-item p {
    width: 300px;
    padding: 10px;
    text-align: left;
}

.todo-item span {
    position: relative;
    margin-right: 10px;
}

#add-item {
    margin-right: 10px;
    width: 285px;
    height: 25px;
    padding-left: 10px;
}

#add-button {
    height: 30px;
}

.strike-through {
    text-decoration: line-through;
}

.delete-icon {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
}